html, body, div {
	margin:0;
	padding:0;
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
}

:focus{
	outline:none;
}

a{
	outline:none;
}

a:hover{
	text-decoration:none;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, form, input, textarea {
	margin:0;
	padding:0;
}


a img, a {
	border:none;
	outline: none;
}

.clear{
	clear:both;
}

.hide_it{
	display:none;
}

.right{
	float:right;
}

html{
	height: 100%;
}

body{
	min-height:100%;
	height: 100%;
	position:relative;
}

#main_wrapper{
	width: auto;
	min-width: 800px;
	height: auto !important;
	min-height: 100%;
	height: 100%;
}

#header{
	position:relative;
	min-height: 132px;
	background:#000;
	padding:0 20px;
}

#header strong{
	color:#fff;
	font-size:50px;
	line-height: 50px;
	padding-top:40px;
	display:block;
	font-weight:normal;
	font-family: Georgia, 'Times New Roman', serif
}

#header span{
	color:#fff;
	font-size:14px;
}

#content{
	position:relative;
	padding:0 20px;
}

.item{
	position:relative;
	max-width:800px;
	font-size:16px;
	line-height:18px;
	padding:20px 0;
}

.item a{
	color:red;
}

#footer{
	background:#000;
	padding:0 20px;
	height:50px;
	line-height:50px;
}

#footer a{
	color:#fff;
	font-family: 'Times New Roman', Georgia, serif;
	font-size: 18px;
}


