.page, 
.page__inner-wrapper,
.main{
	height: 100%;
	position: relative;
}

.page_menu-opened, 
.page_menu-opened .page__inner-wrapper{
	overflow: hidden;
}

.sidebar{
	min-height: 100%;
	margin-left: -220px;
	width:220px;
	background-color: #32394a;
	position: absolute;
	top: auto;
}

.main{
	left:0;
}

.page_menu-opened .main{
	left:220px;
}

.main, 
.sidebar, 
.content{
	transform: translateZ(0);
}

.main__inner{
	min-height: 100%;
}

.sidebar__list{
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar__list-item,
.sidebar__list-link{
	display: block;
}

.sidebar__list-item{
	border-top: 1px solid #3e4555;
	border-bottom: 1px solid #242a37;
	white-space: nowrap;
}

.sidebar__list-link{
	text-decoration: none;
	padding: 10px;
	color: #c4ccda;
	text-shadow: 1px 1px #000;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.sidebar__list-link:hover {
	background: #434b5a;
}

.header{
	height: 50px;
	position: relative;
	background-color: #3b5998;
	border-bottom: 1px solid #133783;
}

.header__button{
	display: block;
	text-decoration: none;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	border-right: 1px solid #133783;
	background: url('../img/icon_menu.png') no-repeat center;
}

.shadow{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	cursor: pointer;
	visibility: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: visibility 0 .3s ,opacity .3s ease-out;
	-moz-transition: visibility 0 .3s, opacity .3s ease-out;
	-o-transition: visibility 0 .3s, opacity .3s ease-out;
	transition: visibility 0 .3s, opacity .3s ease-out;
}

.operamini .shadow{
	top: 50px;
}

.page_menu-opened .shadow,
.page_menu-top_opened .shadow{
	visibility: visible;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out;
}

.page_menu-top_opened .sidebar{
	margin: 0;
	top: 50px;
	width: 100%;
	z-index: 100;
	min-height: 0;
}

.page_menu-top_opened .main__inner{
	position: relative;
}

.fish{
	padding: 10px;
	position: relative;
}

.page_menu-opened .content{
	position: absolute;
}

/* from wiwikipedia styles */
div.tleft, div.floatleft, table.floatleft{
	float: left;
	clear: left;
}

div.tright, div.floatright, table.floatright {
	clear: right;
	float: right;
}

div.tleft {
	margin: .5em 1.4em 1.3em 0;
}

div.tright {
	margin: 0.5em 0 0.8em 1.4em;
}

div.thumbinner {
	border: 1px solid #ccc;
	padding: 3px;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}

/* from wiwikipedia styles end */