html, body{
	margin:0;
	padding:0;
	color:#000;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	font-size:63,5%;
}

body{
	background:#dfe0e2;
}

:focus{
	outline:none;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, form, input, textarea, div {
	margin:0;
	padding:0;
}


a img, a {
	border:none;
	outline: none;
}

.oh{
	overflow:hidden;
}

.left{
	float:left;
}

.right{
	float: right;
}

.clear{
	clear:both;
}

#main{
	width:980px;
	margin:0 auto;
}

.col_aside{
	background: #535353;
	width:200px;
	margin-top:-180px;
	margin-left: 20px;
	z-index:100;
	position:relative;
}

.wrap_ava{
	width:180px;
	height:180px;
}

.menu_items{
	list-style: none;
}

.menu_items a{
	text-decoration:none;
	display:block;
	padding: 10px;
	color:#fff;
	border-top:1px solid #999999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.menu_items a img{
	vertical-align:middle;
	margin-right:10px;
}

.menu_items a span{
	vertical-align:middle;
}

.menu_items a:hover{
	background: #b3b3b3;
	border-top: 1px solid #ccc;
}

.notif{
	display:block;
	color:#fff;
	border:1px solid #fff;
	font-size:14px;
	padding: 1px 5px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background:#b70e0e;
	background: -webkit-gradient(linear,left top,left bottom,from(#b70e0e),to(#8b1010));
	background: -moz-linear-gradient(top,#b70e0e,#8b1010);
	background: -o-linear-gradient(top,#b70e0e,#8b1010);
}

.col_aside img{
	max-width:100%;
}

.top_path{
	width:100%;
	border:1px solid #f5f5f5;
	height:200px;
	position:relative;
}

.top_path img.landing{
	width:100%;
	max-width:100%;
}

.top_path  .page_title{
	position:absolute;
	margin:0;
	padding:0;
	left: 270px;
	top: 30px;
	right:0;
	padding-right:20px;
	font-weight: normal;
	font-size: 43px;
	line-height: 43px;
	color:#efefef;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.4), 0 -1px 1px rgba(0, 0, 0, 0.4);
	color: #ffffff;
}

.col_aside .image_li{
	padding:10px;
}

.news_item{
	background:#efefef;
	border:1px solid #b3b3b3;
	margin-bottom: 30px;
}

.col_main{
	padding: 40px;
	width: 620px;
	padding-left: 100px;
}

.news_item_description{
	padding:10px;
}

.news_item_description_ava{
	margin-left:-57px;
	padding-right:6px;
	text-decoration:none;
	display:block;
	font-size:0;
	background: url(../images/av_sup.png) right center no-repeat;
}

.news_item .author{
	font-weight:bold;
	color:#535353;
}

.news_item .author:hover{
	color: #b70e0e;
}

.news_item_comms{
	background:#d4d4d4;
	padding:0 5px;
	font-size:13px;
	color:#6d6d6d;
}

.news_item_description_body{
	padding-top:10px;
}

.news_item_comms a{
	text-decoration:none;
	margin-right:10px;
	display:block;
	height:22px;
	color:#6d6d6d;
	padding:0 5px;
	line-height: 20px;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	-webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}

.like_a{
	display:none;
}

.news_item_comms a:hover, .news_item_comms a.active{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

.news_item_comms a.active .like_a{
	display:inline;
}

.news_item_comms a.active .like_p{
	display:none;
}

.news_item_comms .time{
	display:block;
	height:22px;
	line-height: 22px;
	padding:0 5px;
}

.news_item_comms a img, .news_item_comms a span{
	vertical-align:middle;
}

.tools_text{
	color:#535353;
	font-size: 15px;
}

.gallery_preview{
	position:relative;
	height:311px;
}

.hide{
	display:none;
}

.gallery_preview img{
	width:100%;
	max-width:100%;
	display:block;
}

.gallery_preview ul{
	list-style:none;
}

.gallery_preview li{
	position:absolute;
	top:0;
	left:0;
}

.gallery_nav{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:100;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
         -o-transition: all 0.4s;
            transition: all 0.4s;
}

.gallery_preview:hover .gallery_nav{
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

.gallery_nav input{
	position:absolute;
	top:0;
	bottom:0;
	display:block;
	width:30px;
	border:none;
	cursor:pointer;
	width:70px;
	-webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
         -o-transition: all 0.4s;
            transition: all 0.4s;
}

.gallery_nav input.left_button{
	left:0;
	background: rgba(0,0,0,.1) url(../images/left-button.png) center no-repeat;
}

.gallery_nav input.right_button{
	right:0;
	background: rgba(0,0,0,.1) url(../images/right-button.png) center no-repeat;
}

.gallery_nav input:hover{
	background-color: rgba(0,0,0,.5);
}

.gallery_nav .cols{
	margin:0 auto;
	display:block;
	color:#e7e7e7;
	background: rgba(0,0,0,.5);
	width:100px;
	font-size:15px;
	padding: 3px 0;
}

.cols_wrap{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	text-align: center;
}
















