#now_this_time{
	color:#ea1c20;
	font-size:20px;
	font-weight:bold;
	vertical-align:-2px;
	position:absolute;
}

#now_this_time2{
	color:#ea1c20;
	font-size:20px;
	font-weight:bold;
	vertical-align:-2px;
	position:absolute;
}
